################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/TaipeiFlowOfPeople/bin
/TaipeiFlowOfPeople/obj
/.vs
/TaipeiFlowOfPeople/TaipeiFlowOfPeople.csproj.user